@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@media (max-width:450px) {
    ::-webkit-scrollbar {
    display: none;
  }
  .navs {
    width: 100%;
  }
  .hide{
    display:none
  }
  }
.name {
  font-family: DynaPuff;
}
.other-name {
    font-family: Pacifico;
}
.trend {
    font-family:Kanit;
}
.special {
  font-family:Dancing Script;
}
.collectio {
  font-family: Montserrat;
}
.navs::after {
    content: "";
    position: absolute;
    background-color: #f0e68c;
    height: 3px;
    width: 0%;
    bottom: -20px;
    left: 0;
    transition: 0.3s;
  }

  .navs:hover::after {
    width: 100%;
  }

  .let {
    
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .swipeIn {
    animation-name: swipeIn;
    -webkit-animation-name: swipeIn;
  }
  
  @keyframes swipeIn {
    0% {
        transform: translateX(200%);
    }
  
    100% {
        transform: translateX(0px);
    }
  }
  
  
  @-webkit-keyframes swipeIn {
    0% {
        -webkit-transform: translateX(200%);
    }
  
    100% {
        -webkit-transform: translateX(0px);
    }
  }
  
  .swipeInLeft {
    animation-name: swipeInLeft;
    -webkit-animation-name: swipeInLeft;
  }
  
  @keyframes swipeInLeft {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0px);
    }
  }
  
  @-webkit-keyframes swipeInLeft {
    0% {
      -webkit-transform: translateX(-100%);
    }
  
    100% {
      -webkit-transform: translateX(0px);
    }
  }

 
